# {{ ansible_managed }}
# autodiscover.{{ item.domain }} – HTTP (ACME challenge + redirect)
server {
    listen 80;
    listen [::]:80;
    server_name autodiscover.{{ item.domain }};

    access_log /var/log/nginx/autodiscover-{{ item.domain }}-http-access.log;
    error_log  /var/log/nginx/autodiscover-{{ item.domain }}-http-error.log;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
        default_type "text/plain";
        try_files $uri =404;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}
