# {{ ansible_managed }}
user = {{ mariadb_user }}
password = {{ mariadb_password }}
hosts = localhost
dbname = {{ mariadb_database }}
query = SELECT email FROM virtual_users WHERE email = SUBSTRING_INDEX('%s', '+', 1) AND enabled = 1
