# {{ ansible_managed }}
user = {{ mariadb_user }}
password = {{ mariadb_password }}
hosts = 127.0.0.1
dbname = {{ mariadb_database }}
query = SELECT 1 FROM virtual_users WHERE email = SUBSTRING_INDEX('%s', '+', 1) AND enabled = 1
