# {{ ansible_managed }}
user = {{ mariadb_user }}
password = {{ mariadb_password }}
hosts = localhost
dbname = {{ mariadb_database }}
query = SELECT destination FROM virtual_aliases WHERE source = SUBSTRING_INDEX('%s', '+', 1)
