---
# Dovecot Configuration for Postsible Mailserver
# Performance-optimized for 250-1000 users with heavy concurrent access

# Protocols
dovecot_protocols: "imap pop3 lmtp sieve"

# Mail location
dovecot_mail_location: "maildir:/srv/imap/%d/%n/"
dovecot_mail_uid: "vmail"
dovecot_mail_gid: "vmail"

# Performance Settings (OPTIMIZED FOR HIGH USER COUNT)
dovecot_default_process_limit: 2000
dovecot_default_client_limit: 4000
dovecot_imap_process_limit: 2048
dovecot_imap_client_limit: 2048
dovecot_mail_max_userip_connections: 50
dovecot_login_max_processes_count: 256
dovecot_login_max_connections: 2048
dovecot_imap_idle_notify_interval: "2 mins"
dovecot_imap_logout_format: "in=%i out=%o deleted=%{deleted} expunged=%{expunged} trashed=%{trashed}"
dovecot_mail_process_size: 512
dovecot_vsz_limit: "512M"
dovecot_mail_cache_min_mail_count: 10
dovecot_mailbox_list_index: yes
dovecot_mailbox_list_index_very_dirty_syncs: yes
dovecot_mail_fsync: "optimized"
dovecot_mail_nfs_storage: no
dovecot_mail_nfs_index: no

# Authentication
dovecot_disable_plaintext_auth: yes
dovecot_auth_mechanisms: "plain login"
dovecot_auth_cache_size: "10M"
dovecot_auth_cache_ttl: "1 hour"
dovecot_auth_cache_negative_ttl: "1 hour"
dovecot_auth_worker_max_count: 60

# SSL/TLS
dovecot_ssl: "required"
dovecot_ssl_cert: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
dovecot_ssl_key: "/etc/ssl/private/ssl-cert-snakeoil.key"
dovecot_ssl_min_protocol: "TLSv1.2"
dovecot_ssl_cipher_list: "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384"
dovecot_ssl_prefer_server_ciphers: yes
dovecot_ssl_dh: "/usr/share/dovecot/dh.pem"

# Logging
dovecot_log_path: "/var/log/dovecot/dovecot.log"
dovecot_info_log_path: "/var/log/dovecot/dovecot-info.log"
dovecot_debug_log_path: "/var/log/dovecot/dovecot-debug.log"
dovecot_auth_verbose: yes
dovecot_auth_debug: yes
dovecot_mail_debug: yes

# Sieve
dovecot_sieve_global_dir: "/var/lib/dovecot/sieve/"
dovecot_sieve_default: "/var/lib/dovecot/sieve/spam-to-folder.sieve"
dovecot_sieve_before: "/var/lib/dovecot/sieve/spam-to-folder.sieve"
dovecot_sieve_max_script_size: "1M"
dovecot_sieve_max_actions: 32
dovecot_sieve_max_redirects: 10

# Quota
dovecot_quota_enabled: false
dovecot_quota_rule: "*:storage=10G"
dovecot_quota_warning_percent: 90

# LMTP
dovecot_lmtp_save_to_detail_mailbox: yes

# Namespaces
dovecot_namespace_inbox_separator: "/"
dovecot_namespace_inbox_prefix: ""

# Database
dovecot_sql_max_connections: 10
