icap {
        servers = "127.0.0.1:1344",
        type = "icap",
        symbol = "ICAP_VIRUS",
        scan_mime_parts = true,
        scan_all_mime_parts = true,
        scan_text_mime = false,
        scan_image_mime = false,
        scheme = "scan",
        default_port = 1344,
        timeout = 10.0,
        log_clean = false,
        retransmits = 2,
        cache_expire = 7200,
        message = '${SCANNER}: threat found with icap scanner: "${VIRUS}"',
        detection_category = "virus",
        default_score = 1,
        action = reject,
        dynamic_scan = true,
        user_agent = "none",
}
